<div class="container">
	<div class="text-center">
		<hr>
		<p>
			This is the index view.
		</p>
		<p>
			<% if @user %>
			  <!-- Hello <%= @user['first_name']%> -->
			  Hello <%= @user.first_name %> <br>
				<%= @user.created_at %> <br>
				<%= @user.updated_at %>
				<%= @updated %>
			<% end %>
		</p>
		<hr>
	</div>
</div>
